* {
  color: white;
}
.close-button{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
  outline: none;
}
.close-button:hover {
  cursor: pointer;
  opacity: .8;
}
.close-icon:hover {
  pointer: hand;
}
.dialog-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  height: 300px;
}
.poster {
  margin-top: -130px;
  float: right;
  width: 275px;
  padding-right: 40px;
  padding-bottom: 10px
}
.title {
  padding-top: 20px;
}
.dialog-body {
  padding-left: 20px;
  width: 410px;
}
.genre-wrapper {
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.play-button{
  padding: 4px 7px;
  border: 2px solid white;
  border-radius: 3px;
  margin-left: 5px;
  padding-right: 15px;
}
.play-button:hover {
  background: white;
  color: #141414 !important;
  cursor: pointer;
}
.play-button:hover > .play-icon {
  color: #141414;
}
.genre {
  padding: 4px 7px;
  border: 2px solid white;
  border-radius: 3px;
  margin-right: 8px;
  margin-bottom: 30px;
}
.play-icon{
  color:white;
  vertical-align:bottom;
}
@media screen and (max-width: 612px) {
  .play-button {
    display: block;
    width: 90px;
    margin-top: 10px;
    margin-left: 0px;
  }
  .bullet {
    display: none;
  }
}
