<div class="app">
<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><mat-icon>menu</mat-icon></label>
    <div class="content">
      <div class="logo"><a href="/home">CYBORG HD</a></div>
      <ul class="links">
        <li>
          <a class="desktop-link">Genres</a>
          <input type="checkbox" id="show-genres">
          <label for="show-genres">Genres</label>
          <ul>
            <span *ngFor="let genre of genres">
              <li><a [routerLink]="['/genres', genre.id]" [state]="{name:genre.name}">{{genre.name}}</a></li>
            </span>
          </ul>
        </li>
        <li><a [routerLink]="['/popular']">Popular</a></li>
        <li><a [routerLink]="['/top-rated']">Top Rated</a></li>
      </ul>
    </div>
    <div class="wrap">
      <div class="search">
        <input type="text" (keyup)="onKeyPress($event)" class="searchTerm" placeholder="Movies, people, genres...">
        <button type="submit" class="searchButton">
          <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
</div>
